asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.1
django-cors-headers==3.2.1
django-debug-toolbar==2.2
django-mysql==3.3.0
djangorestframework==3.11.0
get==2019.4.13
idna==2.8
Pillow==8.3.2
post==2019.4.13
public==2019.4.13
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
sqlparse==0.3.0
stringcase==1.2.0
urllib3==1.25.8
mysqlclient==1.4.6